.galery__services{

    display: grid;
    grid-template-columns:  1fr 1fr 1fr;
    grid-template-rows: 40vh 5vh 5vh 5vh 5vh 40vh;
    gap: 0.5rem;
    margin-top: 2rem;
    padding-left: 3rem;
    padding-right: 3rem;
    @media (max-width: 768px) {
        display: none;
       
     }

}

.services-galery-mobile{
    width: 100vw;
    
}