.galery__services{
    display: grid;
    grid-template-columns: 30% auto 30%;
    grid-template-rows: 25rem 2rem 2rem 25rem;
    gap: 0.5rem;
    margin-top: 2rem;
    padding-left: 7.5rem;
    padding-right: 7.5rem;
    
    h3{
        color: var(--white-0);
        font-size: 1.3rem;
        font-weight: 700;
        color: var(--white-0);
        margin-bottom: 1rem;
        margin-top:0       
    }
    .galery__services-cover{
        background-color: rgba(0, 0, 0, 0.5);  
        height: 100%;
        width: 100%;
        div{
            padding: 2rem;
            .galery__services-text{
                font-size: 1rem;
                color: var(--white-0);
                margin-bottom: 5rem;
            }
            .galery__services-link{
                color: white;
                text-decoration: none;
                top:  100%;
            }
        }

    }
    .weedings__services-photo{
        background-image: url(../../../public/assets/weddings.avif);
        background-size: cover;
        background-position: right;
        grid-row: 1/2;
        p{
            font-size: 1rem;
            color: var(--white-0);
        }

    }
    .weddings__boutique-weddings{
        background-image: url(../../../public/assets/boutique-weddings.avif);
        background-size: cover;
        background-position: right;
        
        grid-row:2/5;
        p{
            font-size: 1rem;
            color: var(--white-0);
        }
    }
    .weddings__sand-sea{
        background-image: url(../../../public/assets/sand-and-sea-weddings.avif);
        background-size: cover;
        background-position: right;
        grid-row: 1/3;
        p{
            font-size: 1rem;
            color: var(--white-0);
        }
    }
    .weddings__sky-weddings{
        background-image: url(../../../public/assets/sky-weddings.avif);
        background-size: cover;
        background-position: right;
        grid-row: 3/5;
        p{
            font-size: 1rem;
            color: var(--white-0);
        }
    }
    .weddings__your-love{
        background-image: url(../../../public/assets/your-love.avif);
        background-size: cover;
        background-position: right;
      
        grid-row: 1/4;
        p{
            font-size: 1rem;
            color: var(--white-0);
        }
    }
    .weddings__penthouse-weddings{
        background-image: url(../../../public/assets/pent-house-weddings.avif);
        background-size: cover;
        background-position: right;
        p{
            font-size: 1rem;
            color: var(--white-0);
        }
    }
    
}

