// BannerHomeEn.module.scss
.bannerEn {
    background-image: url(/assets/OfferHomeEn.jpg);
    background-size: cover;
    background-position: center center; 
    height: 95vh;
    width: 100%;
    display: grid;
    place-items: center;
    color: blueviolet;
}

@media screen and (max-width: 768px) {
    .bannerEn {
        background-image: url(/assets/OfferHomeEnMobile.jpg);
        height: 70vh;
        background-position: top center; 
        background-repeat: no-repeat;
        background-size: cover;
    }
}

