.footer {
    
    max-width: 100vw;
    width: 100vw;
    color: var(--white-0);
    font-size: 0.85rem;
    line-height: 0.75rem;
    display: grid;
    grid-template-columns: 40% 60%;
    grid-template-rows: 15rem;
  
    @media (max-width: 768px) {
        display: grid;
        grid-template-columns: 100vw;
        grid-template-rows: repeat(3, auto);
    }
  
    .contactSection {
      background-color: var(--black-2);
      display: grid;
      grid-template-columns: 50% 50%;
      gap: 4rem;
      padding: 2rem;
      box-sizing: border-box;
      @media (max-width: 768px) {
        display: grid;
        grid-template-columns: 100vw;
        place-items:center;
        padding: 0;
    }
      
      ul {
        
        margin-block-start: 0;
        padding: 0;
        font-size: 0.65rem;
        @media (max-width: 768px) {
            display: grid;
            grid-template-columns: 70vw;
            font-size: 0.75rem;
            text-align: center;
            line-height: 1rem;
        }
        
        li {
          margin-top: 0.5rem;
          a {
            text-decoration: none;
            color: white;
          }
        }
        
      }
      address{
        font-size: 0.7rem;
        padding:1rem 0;
        @media (max-width: 768px) {
            display: grid;
            grid-template-columns: 70vw;
            font-size: 0.75rem;
            text-align: center;
            line-height: 1rem;
        }
      }
      .mail{
        text-decoration: none;
        color: var(--white-0);
        font-size: 0.7rem;
        @media (max-width: 768px) {
          text-align: center;
          margin-left: 2rem;
        }
      }
      .agenciesCompanies{

        h3{
            font-size: 0.75rem;
            font-weight: var(--regular);
            @media (max-width: 768px) {
                text-align: center;
                margin-left: 2rem;
              }
        }
      }
      
    }
  
    .stayConnected {
      background-color: var(--gray);
      padding: 2rem;
      @media (max-width: 768px) {
        grid-row: 1/2;
        text-align: center;
        padding: 0rem;
    }
      h4 {
        margin: 0.5rem 0;
        font-weight: var(--regular);
        font-size: 0.8rem;

      }
  
      div {
        display: grid;
        grid-template-columns: 70% 20%;
        @media (max-width: 768px) {
            grid-template-columns: 100%;
            
            margin:1rem 1rem;
        }
  
        p {
          font-size: 0.8rem;
  
          @media (max-width: 768px) {
          
            text-align: center;
          }
        }
  
        button {
          background-color: var(--white-0);
          border: none;
          padding: 1rem;
          width: 11rem;
          height: 3.5rem;
          font-weight: var(--semibold);
          border-radius: 1px;
          letter-spacing: 0.1rem;
          @media (max-width: 768px) {
            grid-template-columns: 100%;
            margin-top: 2rem;
            width: 88vw;
        }
        }
      }
  
      .follow {
        display: flex;
        align-items: center;
        gap: 2rem;
        @media (max-width: 768px) {
           display: block;
        }
        .socialLinks {
          display: grid;
          grid-template-columns: repeat(5, 3.5rem);
          gap: 1rem;
          @media (max-width: 768px) {
            padding-left: 0;
         }
  
          a {
            display: grid;
            place-items: center;
            height: 3rem;
            width: 3rem;
            border: solid 2px var(--white-0);
            border-radius: 50%;
          }
        }
      }
  
      a {
        text-decoration: none;
        color: var(--white-0);
      }
  
      
    }
    .footerRigths{
        grid-column: 1/3;
        text-align: center;
        margin-top: 0.75rem;
        color: black;
        height: 2rem;
        @media (max-width: 768px) {
            grid-column: 1/2;
             }
        .RigtsArticle{
                display: grid;
                place-items: center;
                .allRigths{
                    color: var(--black-2);
                }
            }
        
    }
  }
  