.footer{
    display: grid;
    grid-template-columns: 40% 60%;
    grid-template-rows: 15rem;

    color: var(--white-0);
    font-size: 0.85rem;
    
    .contactSection,.stayConnected{
        padding: 2rem;
        ul{
            margin-block-start: 0;
            padding: 0;
            font-size: 0.65rem;
            li{
                margin-top: .5rem;
            }

        }
        
    }
    .contactSection{
        background-color: var(--black-2);
        display: grid;
        grid-template-columns: 50% 50%;
        gap:4rem;

        ul{
            margin-block-start: 0;
            padding: 0;
            font-size: 0.65rem;
            li{
                margin-top: .5rem;
            }

        }
        address{
            font-style: normal;
            font-size: 0.7rem;
        }
        .additionalInfoSection{
            h3{
                font-weight: var(--regular);
                font-size: 0.7rem;
            }
        }
        .mail{
            margin-top: 0.8rem;
            font-size: 0.75rem;
        }
    }
    .stayConnected{
        background-color: var(--gray);
     h4{
        margin: 0.5rem 0;
        font-weight: var(--regular);
        font-size: 0.8rem;
     }
     div{
        display: grid;
        grid-template-columns: 70% 20%;
         p{
             font-size: 0.8rem;
            }
        button{
            background-color: var(--white-0);
            border: none;
            padding: 1rem ;
            width: 11rem;
            height: 3.5rem;
            font-weight: var(--semibold);
            border-radius: 1px;
            letter-spacing: 0.1rem;
        }  
        }
        .follow{
            display: flex;
            align-items: center;
            gap: 2rem;
            .socialLinks{
                display: grid;
                grid-template-columns: repeat(5, 3.5rem);
                gap: 1rem;
                a{
                    display: grid;
                    place-items: center;
                    height:3rem ;
                    width: 3rem; 
                    border: solid 2px var(--white-0);
                    border-radius: 50%;
                }
            }
        }

    }
    a{
        text-decoration: none;
        color: var(--white-0);
        
    }

    .footerRigths{
        grid-column: 1/3;
        text-align: center;
        margin-top: 0.75rem;
        height: 1.5rem;
        color: var(--black-2);
    }
}